@charset "UTF-8";




body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

main {
    position: relative;
    height: 97vh;
}

section#telefone {
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 630px;
    width: 310px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

section > iframe {
    margin: auto;
    display: block;
}

#phone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 267px;
    height: 475px;
}

#navbar {
    text-align: right;
}

#navbar > a > img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    box-sizing: border-box;
}

#navbar  img:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .3s, border 1s;
} 


